*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /*css flex box is used here*/
    font-family:'Catamaran',sans-serif;
    scroll-behavior: smooth;
}    
 
body{
    min-height: 1000px;
}    

p
{
  font-weight: 300;
  color:#111;
}

.btn       /* css styles for the search button*/
{
   font-size:1 em;
   color:#fff;
   background:rgb(185, 169, 240);
   padding:10px 30px;
   margin-top: 20px;
   text-transform: uppercase;
   text-decoration: none;
   letter-spacing: 2px;
   display:inline-block;
   transition: 1s;

}
.btn:hover{         /* mouse over the button */
    background: #44fcf2;
    
}
.h3{
    color:white
}
                     /* css styles for the header section of the page*/
header
{
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    
} 
.sticky{
    background:rgb(92, 71, 71);
    padding: 10px;
    
}   
.logo{             /*Css styles for the logo section*/
    color: rgb(168, 168, 108);
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;

}

.navigation{
    position: relative;
    display: flex;

}

.navigation li{
    List-style: none;
    margin-left:30px;

}
.navigation li a
{
    text-decoration: none;
    color: rgb(15, 15, 15);
    font-weight: 300;
    font-style: italic;
}

.navigation li a:hover{
    color:rgb(233, 76, 76)
}
.search{           /*Css styles for the search section*/
    padding: 100px;
    width:100%;
    min-height: 140vh;
    background-color: rgb(196, 179, 212);
}
.inline{
    align-items: center;
}

.column{
    position: relative;
    width: 50%;
}
.row.column p{
    font-size: 15em;
    font-weight: 200;
}
.title{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titleText{
    color:#111;
    font-size: 2em;
    font-weight: 300;
}
.titleText span{
    color:rgb(230, 65, 194);
    font-weight: 700;
    font-size: 1.5em;

      /* css styles for the footer of the page*/
}.low{
    
    top: 0;
    left:0;
    width:100%;
    padding: 40px 100px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.navigator{
    position: relative;
    display: flex;

}

.navigator li{
    List-style: none;
    margin-left:30px;

}
.navigator li a
{
    text-decoration: none;
    color: rgb(20, 19, 19);
    font-weight: 300;
    font-style: italic;
}

.navigator li a:hover{
    color:rgb(233, 76, 76)
}
              
#placeholder{
    background-color: white;
}
                     /*css styles for the view button*/
.view{
    font-size:0.8em;
   color:#fff;
   background:rgba(250, 208, 119, 0.863);
   padding:10px 10px;
   margin-top: 10px;
   text-transform: uppercase;
   text-decoration: none;
   letter-spacing: 1px;
   display:inline-block;
   transition: 1s;
   cursor: pointer;
}
.view:hover{            /* mouse over the button */
    background:rgb(174, 247, 156) ;
}
.clear{                /*css styles for the clear button*/
   font-size:0.8em;
   color:#fff;
   background:rgba(250, 208, 119, 0.863);
   padding:10px 10px;
   margin-top: 10px;
   text-transform: uppercase;
   text-decoration: none;
   letter-spacing: 1px;
   display:inline-block;
   transition: 1s;
   cursor: pointer;

}.clear:hover{     /* mouse over the button */
    background:rgb(241, 76, 25) ;
}

   /* Media queries for the web page*/

@media(max-width:750px)   /* This  media query will only apply, If the screen size is 750px or less, */ 
{
    header,
    .sticky 
    {
        padding:10px 20px;
    }
    .navigation{            /*the navigation link dissapper automatically*/ 
        display: none;
    }
    .navigation.active{   /* the navigation links will change their position when clicking*/
        width:100%;
        height: calc(100% -110px);
        position:fixed;
        top:68px;
        left:0;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background:rgb(243, 222, 222);
        padding: 10%;

    }
    .navigation li{
       margin-left: 0;
    }
    .navigation li a{    /*styles for the naviagtion links.*/
        text-decoration: none;
        color:#111;
        font-size:1.3em;
        font-weight:300;

    }
    
   
    .menuToggle{         /* css styles for the menu toggle*/
        position:relative;
        width:35px;
        height:35px;
        background-size: 30px;
        background: url(menu.png);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;    

    }
    .menuToggle.active{    /*css styles when clicking the menu toggle icon*/
        background-size: 25px;
        background: url(close.png);
        background-repeat: no-repeat;
        background-position: center;

    }
    .sticky.menuToggle    
    {
        filter:invert(1)
    }
} 
 



